<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="engine" class="com.basu.beans.Engine"/>
	<bean id="vehicle" class="com.basu.beans.Vehicle">
		<!-- <property name="beanId" value="engine"/> -->
		<property name="beanId">
			<idref bean="engine"/>
		</property>
		<!-- <constructor-arg name="beanId">
			<idref bean="engine"/>
		</constructor-arg> -->
	</bean> 
	<alias name="vehicle" alias="v"/>       
</beans>