<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
		<context:annotation-config />
		
	<bean id="v" class="com.basu.beans.Vehicle">
		<property name="vname" value="Passion pro"/>
		<property name="engine" ref="eng"/>
		<property name="id" value="123"/>
	</bean>	
	<bean id="eng" class="com.basu.beans.Engine">
		<!-- <property name="s" value="Hero"/> -->
	</bean>
	
</beans>
	